body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.extrafooter{
    padding-top: 30px;
    margin-top: 10px;
}
.container {
    text-align: center;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.title {
    font-size: 66px;
    color: #333;
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 5px;
}
.topp{
    margin-top: 100px;
    padding-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 20px 30px;
    font-size: 26px;
    color: #000000;
    border: solid black 3px;
    border-radius: 50px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    text-decoration: none;
    transition: background-color 0.1s ease;
}

.bt2:hover {
    background-color: rgb(3, 153, 3);
    color: white;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.2);
    transform: translate(-8px, -8px);
    
}
.bt1:hover {
    background-color: rgb(207, 76, 76);
    color: white;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.2);
    transform: translate(-8px, -8px);
}

.texxt p{
    /* padding: 10px; */
    margin-top: 45px;
    font-weight: 400;
}

.marquee {
    width: 100%; 
    overflow-x: hidden;
    display: flex;
    white-space: nowrap;
    background-color: #000000; /* Background color for contrast */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Light shadow for a modern look */
  
}
.bottom{
    
    margin-bottom: 0;
    padding: 0;
    margin-top: 100px;

}

.marquee p {
    display: inline-block;
    font-size: 16px;
    color: #c9c6c6;
    margin: 16px;
    white-space: nowrap; /* Prevents the text from wrapping */
    animation: marquee 40s linear infinite;
    padding-right: 2rem; 
    will-change: transform;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
