body {
    margin: 0;
    font-family: Arial, sans-serif;
    
}

header {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fix the header at the top */
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the left of the viewport */
    width: 100%; /* Ensure it spans the full width */
    z-index: 1000; /* Ensure it sits above other content */
    padding:  0; /* Optional: Add padding to adjust height */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-left:120px;
    padding: 0;
}
.links-box{
    margin-left: 370px;
}

.nav-links li {
    margin : 10px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}
.nav-links a:hover {
    color: #ee3e12; /* Change to your desired hover color */
    border-bottom: 2px solid #ee491f; /* Add an underline effect */
}

.auth-buttons {
    display: flex;
}

.auth-buttons .login,
.auth-buttons .signup {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.auth-buttons .signup {
    background-color: black;
}


.auth-buttons button:hover {
    background: linear-gradient(45deg, #bc3817, #e38034); /* Adjust as needed */
    transform: translateY(-3px); /* Creates a lifting effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow effect */
}

main {
    position: relative;
    text-align: center;
    color: white;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 80%; /* Adjust the width as needed */
    max-width: 800px; /* Optional: Set a maximum width */
    text-align: center; /* Center the text within the hero section */
}

.hero-text h1 {
    font-size: 3rem;
    margin: 0;
}

/* .learn-more {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}
